nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666666;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #878787;
}
.active {
  background-color: #4d0000;
}

li:last-child {
  border-right: none;
}

body {
  background-color: #9c9c9c;
}

h2 {
  color: rgb(61, 52, 52);
}

p {
  color: white;
}

#portfolioPic {
  float: right;
  margin-right: 10px;
  padding-right: 45px;
  padding-left: 45px;
  border-radius: 50%;
}

.about-me{
  overflow: auto;
}

.phone, .email {
  float: right;
  padding: 0 15px;
  margin-left: auto;
  margin-right: 100px;
  padding-top: 15px;
}

.social-links {
  display: flex;
  align-items: center;
  float: right;
  padding: 0 15px;
  margin-left: auto;
  margin-right: 100px;
}

.social-links img {
  margin-left: 0px;
}

.name{
  color: white;
  margin-left: 100px;
  margin-top: 7px;
  margin-bottom: 0px;
  font-size: 45px;
  letter-spacing: 5px;
}

/* unvisited link */
a:link {
  color: rgb(173, 173, 173);
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: rgb(130, 0, 0);
}

/* selected link */
a:active {
  color: rgb(144, 144, 144);
}



