.projectsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9c9c9c;
  color: white;
}

.projectsList li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 3px;
  margin-right: 25px;
  padding: 20px;
  background-color: #5c5c5c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-width: 300px; /* adjust the value as needed */
  height: 350px; /* adjust the value as needed */
  overflow: auto;
}

h4 {
  color: white;
  font-style: bold;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666666;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #878787;
}
.active {
  background-color: #4d0000;
}

li:last-child {
  border-right: none;
}

body {
  background-color: #9c9c9c;
}

h2 {
  color: rgb(61, 52, 52);
}

p {
  color: white;
}

#portfolioPic {
  float: right;
  margin-top: -60px;
  margin-right: 10px;
  padding-right: 45px;
  padding-left: 45px;
  border-radius: 35%;
  box-shadow: 0 0 100px rgba(0,0,0,0.0);
}

.about-me{
  margin-left: 50px;
}

.skills{
  margin-left: 50px;
}

.projects{
  margin-left: 50px;
}

.phone, .email {
  float: right;
  padding: 0 15px;
  margin-left: auto;
  margin-right: 100px;
  padding-top: 15px;
}

.social-links {
  display: flex;
  align-items: center;
  float: right;
  padding: 0 15px;
  margin-left: auto;
  margin-right: 100px;
}

.social-links img {
  margin-left: 0px;
}

.name{
  color: white;
  margin-left: 55px;
  margin-top: 7px;
  margin-bottom: 0px;
  font-size: 45px;
  letter-spacing: 5px;
}

/* unvisited link */
a:link {
  color: rgb(173, 173, 173);
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: rgb(130, 0, 0);
}

/* selected link */
a:active {
  color: rgb(144, 144, 144);
}

.viewCodeButton{
  color: white;
  background-color: black;
  align-self: center;
  margin-top: auto; /* push the button to the bottom */
}



